<!DOCTYPE html>
<html>

<head>
    <title> Ajax Template</title>
</head>

<body>

    <form onsubmit="ajaxCall(event)">
        <p>
            <label for="name">UserName</label>
            <input type="text" id="name" name="name" required>
        </p>
        <p><label for="handle">Handle</label>
            <input id="handle" id="handle" name="handle" required>
        </p>
        <input type="submit" name="submit" value="Submit" />


    </form>
    <div id="club_name"></div>



    <script>

        async function ajaxCall(event) {
            event.preventDefault();
            let name = document.getElementById('name').value;
            let handle = document.getElementById('handle').value;


            console.log("Updating")

            const response = await fetch(`/upData/3`, {
                method: 'PUT',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify({ name, handle })
            }
            );

            const data = await response.json();
            console.log(data)

            const div = document.getElementById('club_name');
            const divClub = `
        <p>Message: ${data['message']}
            <p>Name: ${data.name}</p>
            <p>Handle: ${data.handle}</p>
        `;
            div.innerHTML += divClub;
        }




    </script>
</body>

</html>